{% extends "admin/change_list.html" %}

{% block content_title %}
  <h1>未清算のツケの合計額（ユーザごと）</h1>
{% endblock %}

{% block result_list %}
  <table>
    <thead>
      <tr>
        <th>ユーザ</th>
        <th>未精算額合計</th>
      </tr>
    </thead>
    <tbody>
      {% for user, amount in summary.items %}
      <tr>
        <td><a href="{% url 'admin:tsuke_tsuke_changelist' %}?is_paid__exact=0&user__id__exact={{user.id}}">{{ user }}</a></td>
        <td>{{ amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
