<h1>集計</h1>

{% extends "admin/change_list.html" %}
<!-- {% load admin_urls %} -->

{% block content_title %}
  <h1>ユーザごとのツケ合計額</h1>
{% endblock %}

{% block result_list %}
  <table>
    <thead>
      <tr>
        <th>ユーザ</th>
        <th>合計</th>
      </tr>
    </thead>
    <tbody>
      {% for user, amount in summary.items %}
      <tr>
        <td><a href="{% url 'admin:tsuke_tsuke_changelist' %}?user__id__exact={{user.id}}">{{ user }}</a></td>
        <td>{{ amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
