{% extends "tsuke/base.html" %}
{% load crispy_forms_tags %}

{% block title %}メールアドレス設定 | Tsukepp{% endblock title %}
{% load i18n %}

{% block contents %}

<section>
<div class="container">
  <div class="row">
    {% if messages %}
    <ul class="list-unstyled">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

  <div class="container">
    <h4>{% trans "Email Addresses" %}</h4>
    {% if emailaddresses %}
    <p>以下のメールアドレスが登録されています。</p>
    <p>
      <img src="/static/admin/img/icon-yes.svg" alt="True">: 確認済
      <img src="/static/admin/img/icon-no.svg" alt="False">: 未確認
    </p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
      {% csrf_token %}
      <fieldset class="blockLabels">

        {% for emailaddress in emailaddresses %}
        <div class="ctrlHolder">
          <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

            <input class="form-check-input" id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or emailaddresses|length == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

            {% if emailaddress.verified %}
            <span class="verified"><img src="/static/admin/img/icon-yes.svg" alt="True"></span>
            {% else %}
            <span class="unverified"><img src="/static/admin/img/icon-no.svg" alt="False"></span>
            {% endif %}
            {{ emailaddress.email }}
            {% if emailaddress.primary %}<span class="primary">（メイン）</span>{% endif %}
          </label>
        </div>
        {% endfor %}
        <p>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button type="submit" class="btn btn-outline-primary" name="action_primary">メインに設定</button>
            <button type="submit" class="btn btn-outline-success" name="action_send">確認メールを再送</button>
            <button type="submit" class="btn btn-outline-danger" name="action_remove">削除</button>
          </div>
        </p>
      </fieldset>
    </form>

    {% else %}
    {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
</section>

{% if can_add_email %}
<section>
  <div class="container">
    <h4>メールアドレスの追加</h4>
    <p>予備のメールアドレスを追加できます。</p>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      {{ form|crispy }}
      <button name="action_add" class="btn btn-outline-secondary" type="submit">追加</button>
    </form>
    {% endif %}
  </div>
  </div>
</section>
{% endblock contents %}


{% block extra_body %}
<script type="text/javascript">
  (function () {
    var message = "{% trans 'Do you really want to remove the selected email address?' %}";
    var actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function (e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
  })();
</script>
{% endblock extra_body %}