{% extends "tsuke/base.html" %}

{% block title %}ログアウト | Tsukepp{% endblock title %}

{% block active_login %}active{% endblock active_login %}

{% block contents %}
<section>
    <div class="container">
        <h4>本当にログアウトしますか？</h4>
        <form action={% url "account_logout" %} method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-danger" type="submit">ログアウト</button>
        </form>
    </div>
</section>
<section>
    <div class="container">
        <a class="btn btn-light" href={% url "tsuke:index" %}>戻る</a>
    </div>
</section>
{% endblock contents %}