{% extends "tsuke/base.html" %}
{% load crispy_forms_tags %}

{% block title %}パスワードリセット | Tsukepp{% endblock title %}

{% block contents %}
<section>
<div class="container">
    <div class="row">
        <h4>パスワードリセット</h4>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            パスワードをお忘れの場合は、以下にメールアドレスを入力してください。リセット用のメールが送信されます。
        </p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">送信</button>
        </form>
    </div>
</div>
</section>
{% endblock contents %}