{% extends "tsuke/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}パスワード変更 | Tsukepp{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <h4>{% if token_fail %}不正トークン{% else %}パスワード変更{% endif %}</h4>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>このパスワードリセット用リンクは無効になっています。</p>
        <p><a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
        {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">変更</button>
        </form>
        {% else %}
        <p>パスワードは変更されています。</p>
        {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}