{% extends "tsuke/base.html" %}
{% load static %}

{% block active_signup %}active{% endblock active_signup %}

{% block contents %}
<section class="contact">
    <div class="container">
        <h1>サインアップ</h1>
        <form action={% url "account_signup" %} method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">登録</button>
        </form>
    </div>
</section>
{% endblock contents %}
