{% extends 'tsuke/base.html' %}
{% load static %}

{% block title %}
  Forbidden | Tsukepp
{% endblock %}

{% block head %}
  <!-- DataTables (not working) -->
  {% comment %} <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" /> {% endcomment %}
  {% comment %} <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> {% endcomment %}
{% endblock %}

{% block contents %}
  <main id="main">
    <section>
      <div class="row">
        <h3>アクセス権限がありません</h3>
      </div>
    </section>
    {% comment %} <script>$("#history").DataTable();</script> {% endcomment %}
  </main>
{% endblock %}
