{% extends "tsuke/base.html" %}
{% load static %}

{% block title %}Tsukepp{% endblock title %}

{% block header %}
{% endblock header %}

{% block contents %}
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        {% if user.id %}
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <h3>ようこそ {{user}} さん</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <h3>現在のツケ 
              {% if unpaid_amount.amount__sum %}
                {{unpaid_amount.amount__sum}} 円
                {% else %}
                0 円
                {% endif %}
              </h3>
            <h4>（件数 {{unpaid_count}} 件） </h4>
          </div>
        </div>
        
        {% else %}
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content">
            <h3>Tsukeppへようこそ</h3>
            <h3>ログインは<a href={% url "account_login" %}>こちら</a></h3>
          </div>
        </div>

        {% endif %}


      </div>
    </section><!-- End About Section -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4><b><a href={% url "tsuke:create" %}>ツケる</a></b></h4>
              <p class="description">新しいツケを登録する</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4><b><a href={% url "tsuke:pay_select" %}>支払う</a></b></h4>
              <p class="description">過去のツケを清算する</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4><b><a href={% url "tsuke:history" %}>履歴を見る</a></b></h4>
              <p class="description">ツケの履歴を確認する</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->

  </main>
{% endblock contents %}
