{% extends "tsuke/base.html" %}
{% load static %}

{% block title %}支払う | Tsukepp{% endblock title %}

{% block contents %}
    <section id="about" class="about">
      <div class="container">
      <h2>支払うツケを選択してください。</h2>
      <div class="container">
        <table id="history" class="table table-hover">
          <thead>
            <tr>
              <th>支払う</th>
              <th>購入日時</th>
              <th>金額</th>
              <th>メモ</th>
            </tr>
          </thead>
          <tbody>
            {% for x in tsuke_list %}
              <tr>
                <td>x</td>
                <td>{{ x.purchase_datetime }}</td>
                <td>{{ x.amount }}</td>
                <td>{{ x.note }}</td>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </section>
{% endblock contents %}
