{% extends 'tsuke/base.html' %}
{% load static %}

{% block title %}
  支払う | Tsukepp
{% endblock %}

{% block contents %}
  <div class="container">
    <section id="about" class="about">
      <form action="{% url 'tsuke:settle' %}" method="post">
        {{ form }}
        {% csrf_token %}

        <h3>以下のツケを支払います。よろしいですか？</h3>
        <table id="pay-list" class="table table-hover">
          <thead>
            <tr>
              <th id="id-col">ID</th>
              <th id="purchase_datetime-col">購入日時</th>
              <th id="amount-col">金額</th>
              <th id="note-col">メモ</th>
            </tr>
          </thead>
          <tbody>
            {% for tid, desc, tsuke in form.tsuke_list.field.choices %}
              <tr>
                <td>{{ tid }}</td>
                <td>{{ tsuke.purchase_datetime }}</td>
                <td>{{ tsuke.amount }}</td>
                <td>{{ tsuke.note }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <h4><b>合計金額: <span id="total"></span> 円</b></h4>
        <button type="submit" class="btn btn-primary">支払う</button>
      </form>
    </section>
  </div>
{% endblock %}
