{% extends "tsuke/base.html" %}
{% load static %}

{% block title %}支払う | Tsukepp{% endblock title %}

{% block contents %}
    <section id="about" class="about">
      <div class="container">
      {{ items }}
      <form action="{% url 'tsuke:pay_confirm' %}" method="post">
      {% csrf_token %}
        {{ form }}
        <button type="submit">決定</button>

{% comment %} 
      <h2>支払うツケを選択してください。</h2>
      <div class="container">
        <table id="history" class="table table-hover">
          <thead>
            <tr>
              <th id="check-col">支払う</th>
              <th id="id-col">ID</th>
              <th id="purchase_datetime-col">購入日時</th>
              <th id="amount-col">金額</th>
              <th id="note-col">メモ</th>
            </tr>
          </thead>
          <tbody>
            {% for tsuke in tsuke_list %}
              <tr>
                <td><input type="checkbox" name="pay" id="item{{forloop.counter}}" value={{tsuke.id}} checked></td>
                <th>{{ tsuke.id }}</th>
                <td>{{ tsuke.purchase_datetime }}</td>
                <td>{{ tsuke.amount }}</td>
                <td>{{ tsuke.note }}</td>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h4><b>合計金額: <span id="total"></span> 円</b></h4>
      <button type="submit" class="btn btn-primary">決定</button>
    </div>
    </section>
    <script> // from ChatGPT
      // チェックボックスの要素を取得
      const checkboxes = document.querySelectorAll('td:first-of-type input');
      const totalDisplay = document.getElementById('total');
      const amountIndex = document.getElementById("amount-col").cellIndex // 金額の列番号

      // 合計を計算する関数
      function calculateTotal() {
        let total = 0;
        checkboxes.forEach(checkbox => {
          if (checkbox.checked) {
            const row = checkbox.parentNode.parentNode; // チェックボックスの親要素の親要素 (行) を取得
            const price = parseInt(row.cells[amountIndex].textContent); // 金額のセルのテキストを数値に変換
            total += price;
          }
        });

        // 合計を表示
        totalDisplay.textContent = total;
      }

      // チェックボックスの状態が変更されたときに合計を計算
      checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', calculateTotal);
      });
      calculateTotal();
    </script> {% endcomment %}
{% endblock contents %}
