{% extends 'tsuke/base.html' %}
{% load static %}

{% block title %}
履歴 | Tsukepp
{% endblock %}

{% block contents %}
<main id="main">
  <section>
    <div class="container">
      {% if tsuke_list %}
      <div class="section-title">
        <h2>履歴</h2>
        <p>これまでのツケの記録が確認できます</p>
      </div>
      <div class="card-deck">
        {% for tsuke in tsuke_list %}
        <div class="card border-0">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <div class="badge rounded-pill text-bg-secondary">ツケID: {{ tsuke.id }}</div>
              <li class="list-group-item">日時: {{ tsuke.purchase_date|date:'Y/n/j H:i' }}</h5>
              <li class="list-group-item">金額: {{ tsuke.amount }}円</li>
              <li class="list-group-item">品目: {{ tsuke.category }}</li>
              <li class="list-group-item">メモ: {{ tsuke.note }}</li>
              <li class="list-group-item">
                清算:
                {% if tsuke.is_paid %}
                <img src="/static/admin/img/icon-yes.svg" alt="True"> {{ tsuke.payment_date|date:'Y/n/j H:i' }}
                {% else %} <img src="/static/admin/img/icon-no.svg" alt="False"> {% endif %}
              </li>
          </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    <!-- ページネーション -->
    <nav aria-label="Page navigation" >
      {% if is_paginated %}
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span
              aria-hidden="true">&laquo;</span></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        <!-- ページ数標示 -->
        {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number == page_num %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 次ページへのリンク -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
    {% else %}
    <h4>履歴はありません。</h4>
    {% endif %}
  </section>
</main>
{% endblock %}