{% extends "tsuke/base.html" %}
{% load static %}

{% block title %}Tsukepp{% endblock title %}

{% block header %}
{% endblock header %}

{% block contents %}
<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="container">
      <div class="row">
        {% if messages %}
        <ul class="list-unstyled">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        {% if not has_verified_email %}
        <ul class="list-unstyled">
          <li class="alert alert-warning">
            メールアドレスの認証が済んでいません。Tsukeppから届いたメールに記載されているリンクにアクセスしてください。
          </li>
        </ul>
        {% endif %}
        <div class="col-lg-12 pt-0 pt-lg-0">
          <h1>ようこそ {{user}} さん </h1>
          <h2>現在のツケ 
            {% if unpaid_amount.amount__sum %}
              {{ unpaid_amount.amount__sum }} 円（{{ unpaid_count }} 件）
              {% else %}
              0 円
              {% endif %}
            </h2>
            <div class="d-flex">
              <a href={% url "account_logout" %} class="btn-get-started scrollto">ログアウト</a>
            </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-0 pt-lg-0">
          <h1>Welcome!</h1>
          <h2>ツケ管理アプリ Tsukepp にようこそ！</h2>
            <div class="d-flex justify-content-left">
                {% comment %} <div class="btn-group"> {% endcomment %}
                <a href={% url "account_login" %} class="btn-2 m-1">ログイン</a>
                <a href={% url "account_signup" %} class="btn-get-started m-1">登録</a>
                {% comment %} </div> {% endcomment %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>

    <!-- ======= Featured Services Section ======= -->
    <section id="menu" class="featured-services">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <a href={% url "tsuke:create" %}>
                <div class="icon"><i class="bi bi-plus-square-fill"></i></div>
                <h4><b>ツケる</b></h4>
                <p class="description">新しいツケを登録する</p>
              </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <a href={% url "tsuke:pay_select" %}>
                  <div class="icon"><i class="bi bi-card-checklist"></i></div>
                  <h4><b>清算する</b></h4>
                  <p class="description">これまでのツケを支払う</p>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <a href={% url "tsuke:history" %}>
                  <div class="icon"><i class="bi bi-clock-history"></i></div>
                  <h4><b>履歴を見る</b></h4>
                  <p class="description">ツケの記録を確認する</p>
                </a>
              </div>
            </div>
          </div>
      </div>
    </section><!-- End Featured Services Section -->

    <section class="counts">
    </section>
  </main>
{% endblock contents %}
