{% extends "tsuke/base.html" %}
{% load static %}

{% block title %}Tsukepp{% endblock title %}

{% block header %}
{% endblock header %}

{% block contents %}
<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-0 pt-lg-0">
          <h1>ようこそ {{user}} さん </h1>
          <h2>現在のツケ 
            {% if unpaid_amount.amount__sum %}
              {{ unpaid_amount.amount__sum }} 円（{{ unpaid_count }} 件）
              {% else %}
              0 円
              {% endif %}
            </h2>
            <div class="d-flex">
              <a href={% url "account_logout" %} class="btn-get-started scrollto">ログアウト</a>
            </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Welcome!</h1>
          <h2>ツケ管理アプリ Tsukepp にようこそ！</h2>
            <div class="d-flex">
              <a href={% url "account_login" %} class="btn-get-started scrollto">ログイン</a>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
  
    <!-- ======= Featured Services Section ======= -->
    <section id="menu" class="featured-services">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4><b><a href={% url "tsuke:create" %}>ツケる</a></b></h4>
              <p class="description">新しいツケを登録する</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4><b><a href={% url "tsuke:pay_select" %}>清算する</a></b></h4>
              <p class="description">これまでのツケを支払う</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4><b><a href={% url "tsuke:history" %}>履歴を見る</a></b></h4>
              <p class="description">ツケの記録を確認する</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <section class="counts">
    </section>
  </main>
{% endblock contents %}
