{% extends 'tsuke/base.html' %}
{% load static %}

{% block title %}
  清算する | Tsukepp
{% endblock %}

{% block contents %}
<section>
  <div class="container">
        <form method="post">
          {% csrf_token %}
  
          <div class="section-title">
            <h2>清算確認</h2>
            <p>以下のツケを清算してよろしいですか？</p>
        </div>
          <table id="pay-list" class="table table-hover">
            <thead>
              <tr>
                <th id="amount-col">金額</th>
                <th id="amount-col">品目</th>
                <th id="purchase_date-col">購入日時</th>
                <th id="note-col">メモ</th>
              </tr>
            </thead>
            <tbody>
              {% for tsuke in tsuke_list %}
                <tr>
                  <td>{{ tsuke.amount }}</td>
                  <td>{{ tsuke.category }}</td>
                  <td>{{ tsuke.purchase_date|date:"y/n/j H:i" }}</td>
                  <td>{{ tsuke.note }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <h4><b>合計金額: <span id="total"></span> 円</b></h4>
          <button type="submit" class="btn btn-outline-danger">清算</button>
        </form>
      </section>
      <script>
        // from ChatGPT
        // ページの読み込みが完了したら実行
        document.addEventListener('DOMContentLoaded', function () {
          // テーブル要素を取得
          const table = document.querySelector('table')
          const totalDisplay = document.getElementById('total')
          const amountIndex = document.getElementById('amount-col').cellIndex // 金額の列番号
        
          // 合計を格納する変数を初期化
          let total = 0
        
          // テーブルの各行をループ処理
          var rows = table.querySelectorAll('tbody tr')
          rows.forEach(function (row) {
            // 各行の数量列のセルを取得
            var cell = row.cells[amountIndex]
        
            // セルの内容を整数に変換して合計に加える
            total += parseInt(cell.textContent)
          })
                
          // 合計を表示
          totalDisplay.textContent = total
        })
      </script>
  </div>
{% endblock %}
